.search-wrapper {
    --border-radius: calc(13px + 24px);
    border-radius: var(--border-radius);
    background-color: var(--input-box, #e8dbdb);
}

/* input field */
#word {
    width: 100%;
    font-size: 1.2em;
    border: none;
    background: transparent;
    font-weight: 500;
    padding: 0.5rem 2rem;
    color: inherit;

}

#word:focus {
    outline: none;
}

#word::placeholder {
    color: rgb(175, 166, 166);
    font-weight: normal;
}

/* buttons */

.search-wrapper>button {
    color: inherit;
}

/* clear button */

#clear-btn {
    border: none;
    background: transparent;
    font-size: 1.7em;
    margin-top: -2px;
}

/* search button */
#search-btn {
    border: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 0.5rem 2rem;
    background-color: var(--search-icon-background);
    font-size: 1.7em;
    display: grid;
}


/*body */

ul {
    list-style-type: none;
}

.li-item {
    justify-content: normal !important;
}

.li-item::before {
    content: "\2022";
    color: rgb(167, 41, 206);
    font-size: 1.2em;
    margin-right: 1rem;
    top: 0.2rem;
}

.line {
    content: "";
    border-bottom: 2px dotted var(--line-color);
    width: 100%;
    margin-left: 2rem;
    margin-top: 0.1rem;
}

.fade {
    margin-right: 1rem;
    opacity: 0.6;
}