.search-wrapper {
    align-items: center;
    justify-content: space-around;
    padding: 0.2rem 2rem;
    padding: 0.8rem;
    border-radius: 12px;
    background-color: var(--input-box, #e8dbdb);
}

/* input field */
#word {
    width: 100%;
    font-size: 1.2em;
    border: none;
    background: transparent;
    /* text-align: center; */
    font-weight: 500;
}

#word:focus {
    outline: none;
}

#word::placeholder {
    color: rgb(175, 166, 166);
    font-weight: normal;
}

/* search button */
#search-btn {
    align-self: flex-end;
    width: fit-content;
    border: none;
    background: transparent;
}

#search-icon {
    width: 1.5rem;
}

/*body */

ul {
    list-style-type: none;
}

.li-item {
    justify-content: normal !important;
}

.li-item::before {
    content: "\2022";
    color: rgb(167, 41, 206);
    font-size: 1.2em;
    margin-right: 1rem;
    top: 0.2rem;
}

.line {
    content: "";
    border-bottom: 2px dotted var(--line-color);
    width: 100%;
    margin-left: 2rem;
    margin-top: 0.1rem;
}

.fade {
    margin-right: 1rem;
    opacity: 0.6;
}