:root {
    --option: #cecedf;
    --input-box: rgb(235, 226, 226);
}

@media (prefers-color-scheme:dark) {
    :root {
        --option: #404042;
        --input-box: rgb(49, 46, 46);
    }
}

@media (max-width:768px) {
    #root {
        padding-inline: 1rem;
    }
}