* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hover-pointer {
    cursor: pointer;
}

main {
    width: min(100%, 900px);
    margin-inline: auto;
}

h1 {
    font-size: 2.5em;
}

.bold {
    font-weight: bold;
}