@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@400;500&family=Nunito:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* body {
    font-family: "Grenze", serif;
} */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hover-pointer {
    cursor: pointer;
}

main {
    width: min(100%, 900px);
    margin-inline: auto;
}

h1 {
    font-size: 2.5em;
}

.bold {
    font-weight: bold;
}